<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @cliente.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @cliente.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%= @cliente.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @cliente.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @cliente.estado %>
</p>

<p>
  <b>Telefone:</b>
  <%= @cliente.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%= @cliente.celular %>
</p>


<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>
